<h1>VISTA NEW</h1>

<%= form_with(model:@todos, local: true) do|f| %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :completed %>
<%= f.text_field :completed %>
<%= f.submit 'enviar' %>

<% end %>
